
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #677798;
    color: #997966;
    font-size: 16px;
}

.title {
    font-size: 30px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 15px;
    margin: 50px 0;
    color: white;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.player, .computer {
    width: 400px;
    height: 300px;
    border-radius: 8px;
    background-color: #EDF2F3;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.player {
    box-shadow: -10px 10px 8px #354458;
}

.section-title {
    padding: 20px;
    font-size: 24px;
}

.computer {
    box-shadow: 10px 10px 8px #354458;

}

.section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 15px 0 15px 0;
}

.section-info {
    border: 2px solid #677798;
    border-radius: 4px;
    box-shadow: 3px 3px #354458;
    width: 90px;
    height: 130px;
    padding-top: 15px;
    margin-top: 10px;
    transition: 0.5s;
}


img {
    padding-top: 20px;
    width: 100px;
    height: auto;
    overflow: hidden;
    margin: 0 -30px 0 -30px;
}


.section-info:hover {
    transform: scale(1.05);
    background-color: #ced0d8df;
}

.section-info:active {
    background-color: #c88989;
    color: white;
    transform: translateY(4px);
    box-shadow: 5px 5px #666;

}